In [1]:
import pandas as pd
import numpy as np

In [2]:
features = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'Referee', 'HY', 'AY', 'HR', 'AR',\
        'B365H', 'B365D', 'B365A']

In [3]:
# bet365 배팅률 정보 가져오기
df_1819 = pd.read_csv('./BET365+FBREF_data/1819.csv')

In [4]:
df_1819

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,...,1.79,17,-0.75,1.75,1.70,2.29,2.21,1.55,4.07,7.69
1,E0,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,...,1.83,20,-0.75,2.20,2.13,1.80,1.75,1.88,3.61,4.70
2,E0,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,1.87,22,-0.25,2.18,2.11,1.81,1.77,2.62,3.38,2.90
3,E0,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,...,1.84,23,1.00,1.84,1.80,2.13,2.06,7.24,3.95,1.58
4,E0,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,...,1.81,20,0.25,2.20,2.12,1.80,1.76,4.74,3.53,1.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,12/05/2019,Liverpool,Wolves,2,0,H,1,0,H,...,2.31,22,-1.50,1.98,1.91,2.01,1.95,1.32,5.89,9.48
376,E0,12/05/2019,Man United,Cardiff,0,2,A,0,1,A,...,2.95,21,-2.00,2.52,2.32,1.72,1.64,1.30,6.06,9.71
377,E0,12/05/2019,Southampton,Huddersfield,1,1,D,1,0,H,...,2.29,22,-1.50,2.27,2.16,1.80,1.73,1.37,5.36,8.49
378,E0,12/05/2019,Tottenham,Everton,2,2,D,1,0,H,...,2.07,19,-0.50,2.13,2.08,1.85,1.80,1.91,3.81,4.15
379,E0,12/05/2019,Watford,West Ham,1,4,A,0,2,A,...,2.44,19,-0.50,2.25,2.19,1.78,1.72,2.11,3.86,3.41

In [5]:
df_1819 = df_1819[features]

In [6]:
df_1920 = pd.read_csv('./BET365+FBREF_data/1920.csv')

In [7]:
df_1920 = df_1920[features]

In [8]:
df_2021 = pd.read_csv('./BET365+FBREF_data/2021.csv')

In [9]:
df_2021 = df_2021[features]

In [10]:
df_2122 = pd.read_csv('./BET365+FBREF_data/2122.csv')

In [11]:
df_2122 = df_2122[features]

In [12]:
df_2223 = pd.read_csv('./BET365+FBREF_data/2223.csv')

In [13]:
df_2223 = df_2223[features]

In [14]:
df_2324 = pd.read_csv('./BET365+FBREF_data/2324.csv')

In [15]:
df_2324 = df_2324[features]

In [16]:
# 연도별로 따로 저장된 csv파일 합치기

df_1820 = pd.concat([df_1819, df_1920], axis=0)

In [17]:
df_1820

,Date,HomeTeam,AwayTeam,FTHG,FTAG,Referee,HY,AY,HR,AR,B365H,B365D,B365A
0,10/08/2018,Man United,Leicester,2,1,A Marriner,2,1,0,0,1.57,3.90,7.50
1,11/08/2018,Bournemouth,Cardiff,2,0,K Friend,1,1,0,0,1.90,3.60,4.50
2,11/08/2018,Fulham,Crystal Palace,0,2,M Dean,1,2,0,0,2.50,3.40,3.00
3,11/08/2018,Huddersfield,Chelsea,0,3,C Kavanagh,2,1,0,0,6.50,4.00,1.61
4,11/08/2018,Newcastle,Tottenham,1,2,M Atkinson,2,2,0,0,3.90,3.50,2.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,26/07/2020,Leicester,Man United,0,2,M Atkinson,1,4,1,0,3.25,3.50,2.20
376,26/07/2020,Man City,Norwich,5,0,C Pawson,1,1,0,0,1.08,11.00,26.00
377,26/07/2020,Newcastle,Liverpool,1,3,A Taylor,1,0,0,0,7.50,5.25,1.36
378,26/07/2020,Southampton,Sheffield United,3,1,P Bankes,0,1,0,0,2.15,3.50,3.30
379,26/07/2020,West Ham,Aston Villa,1,1,M Oliver,2,1,0,0,3.00,3.60,2.30

In [18]:
df_1821 = pd.concat([df_1820, df_2021], axis=0)

In [19]:
df_1822 = pd.concat([df_1821, df_2122], axis=0)

In [20]:
df_1823 = pd.concat([df_1822, df_2223], axis=0)

In [21]:
df_1824 = pd.concat([df_1823, df_2324], axis=0)

In [22]:
df_1824['Date'] = pd.to_datetime(df_1824['Date'], format='%d/%m/%Y')

In [23]:
df_1824['Date'] = df_1824['Date'].dt.strftime('%Y-%m-%d')

In [24]:
df_1824

,Date,HomeTeam,AwayTeam,FTHG,FTAG,Referee,HY,AY,HR,AR,B365H,B365D,B365A
0,2018-08-10,Man United,Leicester,2,1,A Marriner,2,1,0,0,1.57,3.9,7.50
1,2018-08-11,Bournemouth,Cardiff,2,0,K Friend,1,1,0,0,1.90,3.6,4.50
2,2018-08-11,Fulham,Crystal Palace,0,2,M Dean,1,2,0,0,2.50,3.4,3.00
3,2018-08-11,Huddersfield,Chelsea,0,3,C Kavanagh,2,1,0,0,6.50,4.0,1.61
4,2018-08-11,Newcastle,Tottenham,1,2,M Atkinson,2,2,0,0,3.90,3.5,2.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,2024-04-23,Arsenal,Chelsea,5,0,S Hooper,2,2,0,0,1.44,5.0,6.00
331,2024-04-24,Wolves,Bournemouth,0,1,S Attwell,4,1,0,1,2.70,3.6,2.50
332,2024-04-24,Crystal Palace,Newcastle,2,0,T Bramall,3,3,0,0,2.75,3.6,2.40
333,2024-04-24,Everton,Liverpool,2,0,A Madley,0,3,0,0,7.00,5.0,1.40
334,2024-04-24,Man United,Sheffield United,4,2,M Salisbury,0,1,0,0,1.30,6.5,7.50

In [25]:
df_1824_op = df_1824.copy()

In [26]:
df_1824_op

,Date,HomeTeam,AwayTeam,FTHG,FTAG,Referee,HY,AY,HR,AR,B365H,B365D,B365A
0,2018-08-10,Man United,Leicester,2,1,A Marriner,2,1,0,0,1.57,3.9,7.50
1,2018-08-11,Bournemouth,Cardiff,2,0,K Friend,1,1,0,0,1.90,3.6,4.50
2,2018-08-11,Fulham,Crystal Palace,0,2,M Dean,1,2,0,0,2.50,3.4,3.00
3,2018-08-11,Huddersfield,Chelsea,0,3,C Kavanagh,2,1,0,0,6.50,4.0,1.61
4,2018-08-11,Newcastle,Tottenham,1,2,M Atkinson,2,2,0,0,3.90,3.5,2.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,2024-04-23,Arsenal,Chelsea,5,0,S Hooper,2,2,0,0,1.44,5.0,6.00
331,2024-04-24,Wolves,Bournemouth,0,1,S Attwell,4,1,0,1,2.70,3.6,2.50
332,2024-04-24,Crystal Palace,Newcastle,2,0,T Bramall,3,3,0,0,2.75,3.6,2.40
333,2024-04-24,Everton,Liverpool,2,0,A Madley,0,3,0,0,7.00,5.0,1.40
334,2024-04-24,Man United,Sheffield United,4,2,M Salisbury,0,1,0,0,1.30,6.5,7.50

In [27]:
df_1824_op = df_1824_op.rename(columns={'HomeTeam': 'Opponent', 'AwayTeam': 'Team', \
                                       'FTHG': 'Oppo_goal', 'FTAG': 'Team_goal', 'HY': 'OY', \
                                       'AY': 'TY', 'HR': 'OR', 'AR': 'TR',\
                                       'B365H' : 'B365OW', 'B365A': 'B365TW'})

In [28]:
df_1824_op.head()

,Date,Opponent,Team,Oppo_goal,Team_goal,Referee,OY,TY,OR,TR,B365OW,B365D,B365TW
0,2018-08-10,Man United,Leicester,2,1,A Marriner,2,1,0,0,1.57,3.9,7.50
1,2018-08-11,Bournemouth,Cardiff,2,0,K Friend,1,1,0,0,1.90,3.6,4.50
2,2018-08-11,Fulham,Crystal Palace,0,2,M Dean,1,2,0,0,2.50,3.4,3.00
3,2018-08-11,Huddersfield,Chelsea,0,3,C Kavanagh,2,1,0,0,6.50,4.0,1.61
4,2018-08-11,Newcastle,Tottenham,1,2,M Atkinson,2,2,0,0,3.90,3.5,2.04

In [29]:
df_1824 = df_1824.rename(columns={'HomeTeam': 'Team', 'AwayTeam': 'Opponent', 'FTHG': 'Team_goal', \
                                  'FTAG': 'Oppo_goal', 'HY': 'TY', 'AY': 'OY', 'HR': 'TR', 'AR': 'OR', \
                                  'B365H': 'B365TW', 'B365A': 'B365OW'})

In [30]:
new_order = ['Date', 'Team', 'Opponent', 'Team_goal', 'Oppo_goal', 'Referee', 'TY',
       'OY', 'TR', 'OR', 'B365TW', 'B365D', 'B365OW']

In [31]:
df_1824_op = df_1824_op[new_order]

In [32]:
df_1824_op

,Date,Team,Opponent,Team_goal,Oppo_goal,Referee,TY,OY,TR,OR,B365TW,B365D,B365OW
0,2018-08-10,Leicester,Man United,1,2,A Marriner,1,2,0,0,7.50,3.9,1.57
1,2018-08-11,Cardiff,Bournemouth,0,2,K Friend,1,1,0,0,4.50,3.6,1.90
2,2018-08-11,Crystal Palace,Fulham,2,0,M Dean,2,1,0,0,3.00,3.4,2.50
3,2018-08-11,Chelsea,Huddersfield,3,0,C Kavanagh,1,2,0,0,1.61,4.0,6.50
4,2018-08-11,Tottenham,Newcastle,2,1,M Atkinson,2,2,0,0,2.04,3.5,3.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,2024-04-23,Chelsea,Arsenal,0,5,S Hooper,2,2,0,0,6.00,5.0,1.44
331,2024-04-24,Bournemouth,Wolves,1,0,S Attwell,1,4,1,0,2.50,3.6,2.70
332,2024-04-24,Newcastle,Crystal Palace,0,2,T Bramall,3,3,0,0,2.40,3.6,2.75
333,2024-04-24,Liverpool,Everton,0,2,A Madley,3,0,0,0,1.40,5.0,7.00
334,2024-04-24,Sheffield United,Man United,2,4,M Salisbury,1,0,0,0,7.50,6.5,1.30

In [33]:
df_1824

,Date,Team,Opponent,Team_goal,Oppo_goal,Referee,TY,OY,TR,OR,B365TW,B365D,B365OW
0,2018-08-10,Man United,Leicester,2,1,A Marriner,2,1,0,0,1.57,3.9,7.50
1,2018-08-11,Bournemouth,Cardiff,2,0,K Friend,1,1,0,0,1.90,3.6,4.50
2,2018-08-11,Fulham,Crystal Palace,0,2,M Dean,1,2,0,0,2.50,3.4,3.00
3,2018-08-11,Huddersfield,Chelsea,0,3,C Kavanagh,2,1,0,0,6.50,4.0,1.61
4,2018-08-11,Newcastle,Tottenham,1,2,M Atkinson,2,2,0,0,3.90,3.5,2.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,2024-04-23,Arsenal,Chelsea,5,0,S Hooper,2,2,0,0,1.44,5.0,6.00
331,2024-04-24,Wolves,Bournemouth,0,1,S Attwell,4,1,0,1,2.70,3.6,2.50
332,2024-04-24,Crystal Palace,Newcastle,2,0,T Bramall,3,3,0,0,2.75,3.6,2.40
333,2024-04-24,Everton,Liverpool,2,0,A Madley,0,3,0,0,7.00,5.0,1.40
334,2024-04-24,Man United,Sheffield United,4,2,M Salisbury,0,1,0,0,1.30,6.5,7.50

In [34]:
result_df = pd.concat([df_1824, df_1824_op], axis=0)

In [35]:
name_mapping = {
    'Man United': 'Manchester Utd', 
    'Bournemouth': 'Bournemouth', 
    'Fulham': 'Fulham', 
    'Huddersfield': 'Huddersfield', 
    'Newcastle': 'Newcastle Utd',
    'Watford': 'Watford', 
    'Wolves': 'Wolverhampton', 
    'Arsenal': 'Arsenal', 
    'Liverpool': 'Liverpool', 
    'Southampton': 'Southampton',
    'Cardiff': 'Cardiff City', 
    'Chelsea': 'Chelsea', 
    'Everton': 'Everton', 
    'Leicester': 'Leicester City', 
    'Tottenham': 'Tottenham',
    'West Ham': 'West Ham', 
    'Brighton': 'Brighton & Hove Albion', 
    'Burnley': 'Burnley', 
    'Man City': 'Manchester City', 
    'Crystal Palace': 'Crystal Palace',
    'Aston Villa': 'Aston Villa', 
    'Norwich': 'Norwich City', 
    'Sheffield United': 'Sheffield Utd', 
    'West Brom': 'West Bromwich Albion', 
    'Leeds': 'Leeds United',
    'Brentford': 'Brentford', 
    "Nott'm Forest": 'Nottingham Forest', 
    'Luton': 'Luton Town'
}

In [36]:
result_df['Team'] = result_df['Team'].replace(name_mapping)

In [37]:
result_df['Opponent'] = result_df['Opponent'].replace(name_mapping)

In [38]:
fbref_pl = pd.read_csv('./BET365+FBREF_data/FBREF_PL.csv')

In [39]:
fbref_pl

,Date,Team,Opponent,Referee,TY,OY,TR,OR,Season,Time,...,Clean Sheet,Pass Completion %,Assists,Exp. Assisted Goals,Expected Assists,Tackles Won,% of Dribblers Tackled,Blocks,Interceptions,Error
0,2018-08-10,Leicester City,Manchester Utd,A Marriner,1,2,0,0,1819,20:00 (04:00),...,0,79.4,0,0.8,1.0,11,21.4,8,12,0
1,2018-08-10,Manchester Utd,Leicester City,A Marriner,2,1,0,0,1819,20:00 (04:00),...,0,80.1,1,0.7,0.3,13,50.0,15,17,0
2,2018-08-11,Bournemouth,Cardiff City,K Friend,1,1,0,0,1819,15:00 (23:00),...,1,79.0,2,1.3,1.1,5,47.1,11,4,0
3,2018-08-11,Brighton & Hove Albion,Watford,J Moss,2,2,0,0,1819,15:00 (23:00),...,0,74.4,0,0.3,0.2,11,50.0,14,17,0
4,2018-08-11,Cardiff City,Bournemouth,K Friend,1,1,0,0,1819,15:00 (23:00),...,0,58.4,0,1.5,1.2,12,47.6,16,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4465,2024-04-24,Everton,Liverpool,A Madley,0,3,0,0,2324,20:00 (04:00),...,1,63.1,1,0.8,0.6,9,42.9,14,14,0
4466,2024-04-24,Sheffield Utd,Manchester Utd,M Salisbury,1,0,0,0,2324,20:00 (04:00),...,0,72.2,1,0.5,0.3,9,46.7,10,13,0
4467,2024-04-24,Crystal Palace,Newcastle Utd,T Bramall,3,3,0,0,2324,20:00 (04:00),...,1,74.5,2,0.7,0.8,19,60.0,15,6,0
4468,2024-04-24,Manchester Utd,Sheffield Utd,M Salisbury,0,1,0,0,2324,20:00 (04:00),...,0,87.6,3,2.0,1.8,9,52.9,6,5,1
4469,2024-04-24,Bournemouth,Wolverhampton,S Attwell,1,4,1,0,2324,19:45 (03:45),...,1,71.4,0,1.3,0.7,14,16.7,18,11,0

In [40]:
fbref_pl_add_bet = pd.merge(result_df, fbref_pl, left_on=['Date', 'Team'], right_on=['Date', 'Team'], how='right')

In [41]:
fbref_pl_add_bet

,Date,Team,Opponent_x,Team_goal,Oppo_goal,Referee_x,TY_x,OY_x,TR_x,OR_x,...,Clean Sheet,Pass Completion %,Assists,Exp. Assisted Goals,Expected Assists,Tackles Won,% of Dribblers Tackled,Blocks,Interceptions,Error
0,2018-08-10,Leicester City,Manchester Utd,1,2,A Marriner,1,2,0,0,...,0,79.4,0,0.8,1.0,11,21.4,8,12,0
1,2018-08-10,Manchester Utd,Leicester City,2,1,A Marriner,2,1,0,0,...,0,80.1,1,0.7,0.3,13,50.0,15,17,0
2,2018-08-11,Bournemouth,Cardiff City,2,0,K Friend,1,1,0,0,...,1,79.0,2,1.3,1.1,5,47.1,11,4,0
3,2018-08-11,Brighton & Hove Albion,Watford,0,2,J Moss,2,2,0,0,...,0,74.4,0,0.3,0.2,11,50.0,14,17,0
4,2018-08-11,Cardiff City,Bournemouth,0,2,K Friend,1,1,0,0,...,0,58.4,0,1.5,1.2,12,47.6,16,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4465,2024-04-24,Everton,Liverpool,2,0,A Madley,0,3,0,0,...,1,63.1,1,0.8,0.6,9,42.9,14,14,0
4466,2024-04-24,Sheffield Utd,Manchester Utd,2,4,M Salisbury,1,0,0,0,...,0,72.2,1,0.5,0.3,9,46.7,10,13,0
4467,2024-04-24,Crystal Palace,Newcastle Utd,2,0,T Bramall,3,3,0,0,...,1,74.5,2,0.7,0.8,19,60.0,15,6,0
4468,2024-04-24,Manchester Utd,Sheffield Utd,4,2,M Salisbury,0,1,0,0,...,0,87.6,3,2.0,1.8,9,52.9,6,5,1
4469,2024-04-24,Bournemouth,Wolverhampton,1,0,S Attwell,1,4,1,0,...,1,71.4,0,1.3,0.7,14,16.7,18,11,0

In [42]:
fbref_pl_add_bet.isnull().sum()

Date                      0
Team                      0
Opponent_x                0
Team_goal                 0
Oppo_goal                 0
Referee_x                 0
TY_x                      0
OY_x                      0
TR_x                      0
OR_x                      0
B365TW                    0
B365D                     0
B365OW                    0
Opponent_y                0
Referee_y                 0
TY_y                      0
OY_y                      0
TR_y                      0
OR_y                      0
Season                    0
Time                      0
Round                     0
Round.1                   0
Table                     0
Day                       0
Venue                     0
Result                    0
Possesion                 0
Aerial Duels(%)           0
GF                        0
GA                        0
Oppo. Table               0
Shot on Target            0
Shot on Target(%)         2
Goals per Shot            2
Expected Goals            0
Save%                     0
Clean Sheet               0
Pass Completion %         0
Assists                   0
Exp. Assisted Goals       0
Expected Assists          0
Tackles Won               0
% of Dribblers Tackled    0
Blocks                    0
Interceptions             0
Error                     0
dtype: int64

In [43]:
fbref_pl_add_bet.columns

Index(['Date', 'Team', 'Opponent_x', 'Team_goal', 'Oppo_goal', 'Referee_x',
       'TY_x', 'OY_x', 'TR_x', 'OR_x', 'B365TW', 'B365D', 'B365OW',
       'Opponent_y', 'Referee_y', 'TY_y', 'OY_y', 'TR_y', 'OR_y', 'Season',
       'Time', 'Round', 'Round.1', 'Table', 'Day', 'Venue', 'Result',
       'Possesion', 'Aerial Duels(%)', 'GF', 'GA', 'Oppo. Table',
       'Shot on Target', 'Shot on Target(%)', 'Goals per Shot',
       'Expected Goals', 'Save%', 'Clean Sheet', 'Pass Completion %',
       'Assists', 'Exp. Assisted Goals', 'Expected Assists', 'Tackles Won',
       '% of Dribblers Tackled', 'Blocks', 'Interceptions', 'Error'],
      dtype='object')

In [44]:
fbref_pl_add_bet = fbref_pl_add_bet.drop(['Opponent_x', 'Team_goal', 'Oppo_goal', 'Referee_x',
       'TY_x', 'OY_x', 'TR_x', 'OR_x'], axis=1)

In [45]:
fbref_pl_add_bet.columns

Index(['Date', 'Team', 'B365TW', 'B365D', 'B365OW', 'Opponent_y', 'Referee_y',
       'TY_y', 'OY_y', 'TR_y', 'OR_y', 'Season', 'Time', 'Round', 'Round.1',
       'Table', 'Day', 'Venue', 'Result', 'Possesion', 'Aerial Duels(%)', 'GF',
       'GA', 'Oppo. Table', 'Shot on Target', 'Shot on Target(%)',
       'Goals per Shot', 'Expected Goals', 'Save%', 'Clean Sheet',
       'Pass Completion %', 'Assists', 'Exp. Assisted Goals',
       'Expected Assists', 'Tackles Won', '% of Dribblers Tackled', 'Blocks',
       'Interceptions', 'Error'],
      dtype='object')

In [46]:
fbref_pl_add_bet = fbref_pl_add_bet.rename(columns={'Opponent_y':'Opponent', 'Referee_y': 'Referee',
       'TY_y': 'TY', 'OY_y': 'OY', 'TR_y': 'TR', 'OR_y': 'OR'})

In [47]:
fbref_pl_add_bet.columns

Index(['Date', 'Team', 'B365TW', 'B365D', 'B365OW', 'Opponent', 'Referee',
       'TY', 'OY', 'TR', 'OR', 'Season', 'Time', 'Round', 'Round.1', 'Table',
       'Day', 'Venue', 'Result', 'Possesion', 'Aerial Duels(%)', 'GF', 'GA',
       'Oppo. Table', 'Shot on Target', 'Shot on Target(%)', 'Goals per Shot',
       'Expected Goals', 'Save%', 'Clean Sheet', 'Pass Completion %',
       'Assists', 'Exp. Assisted Goals', 'Expected Assists', 'Tackles Won',
       '% of Dribblers Tackled', 'Blocks', 'Interceptions', 'Error'],
      dtype='object')

In [48]:
fbref_pl_add_bet = fbref_pl_add_bet[['Date', 'Team', 'Opponent', 'Referee', 'TY', 'OY', 'TR', 'OR', 'B365TW',
       'B365D', 'B365OW', 'Season', 'Time', 'Round', 'Round.1', 'Table', 'Day',
       'Venue', 'Result', 'Possesion', 'Aerial Duels(%)', 'GF', 'GA',
       'Oppo. Table', 'Shot on Target', 'Shot on Target(%)', 'Goals per Shot',
       'Expected Goals', 'Save%', 'Clean Sheet', 'Pass Completion %',
       'Assists', 'Exp. Assisted Goals', 'Expected Assists', 'Tackles Won',
       '% of Dribblers Tackled', 'Blocks', 'Interceptions', 'Error']]

In [49]:
fbref_pl_add_bet.isnull().sum()

Date                      0
Team                      0
Opponent                  0
Referee                   0
TY                        0
OY                        0
TR                        0
OR                        0
B365TW                    0
B365D                     0
B365OW                    0
Season                    0
Time                      0
Round                     0
Round.1                   0
Table                     0
Day                       0
Venue                     0
Result                    0
Possesion                 0
Aerial Duels(%)           0
GF                        0
GA                        0
Oppo. Table               0
Shot on Target            0
Shot on Target(%)         2
Goals per Shot            2
Expected Goals            0
Save%                     0
Clean Sheet               0
Pass Completion %         0
Assists                   0
Exp. Assisted Goals       0
Expected Assists          0
Tackles Won               0
% of Dribblers Tackled    0
Blocks                    0
Interceptions             0
Error                     0
dtype: int64

In [50]:
fbref_pl_add_bet.to_excel('./preprocessed_data/merged_FBREF_bet365.xlsx', index=False)

In [51]:
fbref_pl_add_bet.to_csv('./preprocessed_data/merged_FBREF_bet365.csv', index=False)